@model BeerRoute.Models.Usuario

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<h1>Detalhes do Usuário</h1>

<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Creditos)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    <a class="btn btn-secondary" asp-action="Index">Voltar para a Lista</a>
</div>