@model BeerRoute.Models.TipoCerveja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoCerveja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estilo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estilo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ABV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ABV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
