@model IEnumerable<BeerRoute.Models.Cervejaria>

@{
    ViewData["Title"] = "Listar Cervejarias";
}

<h1>Listar Cervejarias</h1>

<div class="row">
    @foreach (var item in Model)

    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Endereço:</strong> @Html.DisplayFor(modelItem => item.Endereco)</p>
                    <p class="card-text"><strong>Latitude:</strong> @Html.DisplayFor(modelItem => item.Latitude)</p>
                    <p class="card-text"><strong>Longitude:</strong> @Html.DisplayFor(modelItem => item.Longitude)</p>
                    <p class="card-text"><strong>Preço:</strong> @Html.DisplayFor(modelItem => item.Preco)</p>
                    <p class="card-text"><strong>Descrição:</strong> @Html.DisplayFor(modelItem => item.Descricao)</p>
                    <p class="card-text"><strong>Telefone:</strong> @Html.DisplayFor(modelItem => item.Telefone)</p>
                    <p class="card-text"><strong>Email:</strong> @Html.DisplayFor(modelItem => item.Email)</p>
                    <p class="card-text"><strong>Site:</strong> @Html.DisplayFor(modelItem => item.Site)</p>
                    <p class="card-text"><strong>Facebook:</strong> @Html.DisplayFor(modelItem => item.Facebook)</p>
                    <p class="card-text"><strong>Instagram:</strong> @Html.DisplayFor(modelItem => item.Instagram)</p>
                    <p class="card-text"><strong>Imagem:</strong> @Html.DisplayFor(modelItem => item.ImagemUrl)</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm mb-1" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info btn-sm mb-1" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger btn-sm mb-1" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </div>
            </div>
        </div>
    }
</div>
